@font-face {
    font-family: "Luciole";
    src: url("../ressources/fonts/Luciole/Luciole-Regular.woff") format("woff"),
            url("../ressources/fonts/Luciole/Luciole-Regular-Italic.woff") format("woff"),
                url("../ressources/fonts/Luciole/Luciole-Bold.woff") format("woff");
    font-family: "Trickster";
    src: url("../ressources/fonts/Trickster-master/webfonts/Trickster-Regular.woff") format("woff");
}

body{
    background-color: white;
    padding: 2%;
    font-size: 1vw;
    overflow-x: hidden;
    font-family: "Luciole", sans-serif;
}

#header{
    background-color: white;
    margin-left: -4vw;
    position: fixed;
    top: 0;
    width: 110%;
    height: 5vw;
    transition: 0.5s;
    display: flex;
    align-items: stretch;
    box-shadow: 0px -10px 40px grey;
}

#nom{
    background-color: none;
    color: #19d782;
    text-decoration: none;
    margin-left: 5vw;
    font-size: 2em;
    flex: 0 1 50vw;
    height: 2vw;
    margin-top: 1.2%;
    font-family: 'Jost* Black', sans-serif;
}

span{
    color: #ffeb23;
}

.lien{
    background-color: none;
    text-decoration: none;
    color: #19d782;
    font-size: 1.3em;
    text-align: center;
    height: 2vw;
    flex: 0 1 20vw;
    margin-top: 1.2%;
}

#curriculum{
    display: flex;
    margin: auto;
    margin-top: 5vw;
    height: 100%;
    width: 60vw;
    box-shadow: 0px 5px 20px lightgrey;
}

.bordDroite{
    border-right: solid #19d782 2px;
}

section{
    display: flex;
    align-items: stretch;
}

.sectionGauche{
    background-color: none;
    vertical-align: top;
    margin-top: 9vh;
    padding: 3%;
    height: 34vw;
    border-right: solid #19d782;
    flex: 0 1 50%;
}

#languageSwitch{
    font-family: "Luciole";
    background-color: none;
    border: none;
    font-size: 1em;
}

#presentation{
    background-color: none;
    font-size: 1.3em;
    font-style: italic;
    text-indent: 5%;
    line-height: 1.5em;
    margin-top: 4vw;
}

.sectionDroite{
    background-color: none;
    vertical-align: top;
    margin-top: 8vh;
    padding: 3%;
    height: 33vw;
    flex: 0 1 50%;
    text-align: center;
}

.imageProfil{
    max-height: 100%;
    width: 45%;
    border-radius: 50%;
}

h2{
    font-size: 2em;
    color: #19d782;
}

.infos{
    font-size: 1.5em;
    font-style: italic;
    text-decoration: none;
    line-height: 0.9em;
    color: black;
}

footer{
    background-color: #ffeb23;
    color: white;
    position: relative;
    left: -10vw;
    bottom: -10vw;
    margin-top: 10vh;
    padding-top: 1%;
    padding-bottom: 2%;
    width: 112vw;
    text-align: center;
    font-size: 1.2em;
    font-style: italic;
}

.credits{
    font-size: 0.7em;
    font-style: normal;
}

@media all and (orientation: portrait){

    body{
        padding-top: 30vh;
    }

    #header{
        margin-left: -5vw;
        height: 20vw;
        z-index: 9;
    }
    
    #nom{
        background-color: none;
        margin-left: 5vw;
        font-size: 7em;
        height: 10vw;
        flex: none;
        position: absolute;
        width: 70vw;
    }
    
    .lien{
        background-color: none;
        font-size: 4em;
        height: 5vw;
        flex: 0 1 20vw;
        display: block;
        margin-top: 11vw;
        margin-left: 0;
        flex: 0 1 48vw;
    }

    section{
        display: block;
}

    .sectionGauche{
        background-color: none;
        height: 100vw;
        margin-left: 2vw;
        padding: 0;
        border-right: none;
        width: 90vw;
    }

    .presentation{
        font-size: 4em;
        text-indent: 5%;
    }

    .bordDroite{
        border-right: none;
    }

    .sectionDroite{
        background-color: none;
        margin-top: 3vh;
        height: 100vw;
        width: 85vw;
    }

    .imageProfil{
        width: 45vw;
    }
    
    h2{
        font-size: 7em;
    }
    
    .infos{
        font-size: 4em;
    }
    
    footer{
        margin-top: 10vh;
        font-size: 3em;
    }


}