@font-face {
    font-family: "Luciole";
    src: url("../ressources/fonts/Luciole/Luciole-Regular.woff") format("woff"),
            url("../ressources/fonts/Luciole/Luciole-Regular-Italic.woff") format("woff"),
                url("../ressources/fonts/Luciole/Luciole-Bold.woff") format("woff");
    font-family: "Trickster";
    src: url("../ressources/fonts/Trickster-master/webfonts/Trickster-Regular.woff") format("woff");
}

body{
    background-color: white;
    padding: 2%;
    font-size: 1vw;
    overflow-x: hidden;
    font-family: 'Luciole', sans-serif;
}

#header{
    background-color: rgb(7, 4, 107);
    margin-left: -4vw;
    position: fixed;
    top: 0;
    width: 110%;
    height: 5vw;
    display: flex;
    align-items: stretch;
    box-shadow: 0px -10px 40px black;
}

#nom{
    background-color: none;
    color: white;
    text-decoration: none;
    margin-left: 5vw;
    font-size: 2em;
    flex: 0 1 30vw;
    height: 2vw;
    margin-top: 1.2%;
    font-family: 'Trickster', serif;
}

.lien{
    background-color: none;
    text-decoration: none;
    color: white;
    font-size: 1.3em;
    text-align: center;
    height: 2vw;
    flex: 0 1 20vw;
    margin-top: 1.2%;
}

.bordDroite{
    border-right: solid white 2px;
}

.sectionGauche{
    background-color: none;
    position: fixed;
    vertical-align: top;
    margin-top: 9vh;
    padding: 3%;
    height: 70vh;
    width: 40vw;
    border-right: solid rgb(7, 4, 107) 2px;
}

h1{
    color: black;
    font-size: 4em;
    line-height: 1.2em;
    margin-top: 0;
}

h2{
    font-size: 1em;
    margin-top: -2vw;
    margin-bottom: 3vw;
    font-style: italic;
}

p{
    line-height: 1.4em;
    font-size: 1.1em;
    font-style: italic;
}

.sectionDroite{
    background-color: none;
    float: right;
    vertical-align: top;
    margin-top: 9vh;
    padding: 3%;
    width: 40vw;
    text-align: center;
}

img{
    border-radius: 1%;
    max-width: 100%;
    margin-bottom: 5%;
    flex: 1;
}

.footer{
    text-align: center;
    font-size: 1.2em;
    font-style: normal;
    color: rgb(7, 4, 107);
}

@media all and (orientation: portrait){

    body{
        padding-top: 30vh;
    }

    #header{
        margin-left: -5vw;
        height: 20vw;
        z-index: 9;
    }
    
    #nom{
        background-color: none;
        margin-left: 5vw;
        font-size: 7em;
        height: 10vw;
        flex: none;
        position: absolute;
        width: 70vw;
    }
    
    .lien{
        background-color: none;
        font-size: 3em;
        height: 5vw;
        flex: 0 1 20vw;
        display: block;
        margin-top: 11vw;
        margin-left: 1.8vw;
        flex: 0 1 30vw;
    }

    .bordDroite{
        border-right: none;
    }

    .sectionGauche{
        background-color: none;
        position: relative;
        width: 85vw;
        border-right: none;
        margin-top: 0;
        z-index: 1;
        height: fit-content;
    }

    h1{
        font-size: 9em;
    }
    
    h2{
        font-size: 6em;
        margin-top: -5vw;
        margin-bottom: 4vw;
    }
    
    p{
        line-height: 1.5em;
        font-size: 5em;
    }

    .sectionDroite{
        background-color: none;
        float: none;
        width: 85vw;
        margin-top: 0;
    }

    .footer{
        font-size: 3em;
    }
}